.skillsTitle {
    margin-top: 3.5%;
    font-size: 6vw;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    color: #CCCCCC;
    text-shadow: 0.1vw 0.1vw 2vw black;
    margin-bottom: 6vh;
    margin-left: auto;
    margin-right: auto;
}

.terminalContainer {
    background-color: black;
    width: 33vw;
    height: 50vh;
    margin-bottom: 2vw;
    border-radius: 2vh;
    border: 2px #CCCCCC solid;
    text-align: left;
}

.terminalHeader {
    width: 33vw;
    display: flex;
}

.terminalHeader * {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: .5vw;
    margin-bottom: .5vw;
}

.terminalHeaderLink {
    color: #CCCCCC;
    display: flex;
}

.terminalHeaderLink:hover {
    color: white;
    cursor: pointer;
}

.terminal {
    border-bottom: 2px #4DAAFC solid;
    color: white;
}

.terminalText {
    margin-left: 0.6vw;

}

.terminalTypewriter {
    margin-left: 0.8vw;
    display: inline-block;
}

.terminalColumn {
    color: #CCCCCC;
    margin-left: auto;
}

.terminalOptionsBar {
    width: 33vw;
    text-align: center;
    display: flex;
}

.terminalOptionsBar * {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    flex: 1 1 auto;
}

.terminalOption {
    width: 7vw;
    font-weight: bolder;
    padding: 1.5vh;
    border: 2px #CCCCCC solid;
    margin-bottom: 2vh;
    border-radius: 1vw;
}

.fullStackOption {
    background-color: #1E2A44;
    transition: background-color 0.15s ease;
}

.fullStackOption:hover {
    background-color: #080b12;
}

.fullStackOption:active {
    background-color: #a3bfff;
}

.mobileAppsOption {
    background-color: #a06102;
    transition: background-color 0.15s ease;
}

.mobileAppsOption:hover {
    background-color: #533201;
}

.mobileAppsOption:active {
    background-color: #ff9c07;
}

.AIAndMLOption {
    background-color: #af244c;
    transition: background-color 0.15s ease;
}

.AIAndMLOption:hover {
    background-color: #460d1e;
}

.AIAndMLOption:active {
    background-color: #ff376f;

}

.skillsInfoContainer * {
    display: block;
    text-align: left;
    width: 33vw;
}

.skillsInfoTitle {
    color: #CCCCCC;
    font-size: 3vw;
    margin-bottom: 2vw;
}

.skillsInfoColumn {
    width: 33vw;
}

.skillsBody {
    color: #CCCCCC;
    height: 30vh;
}

.skillsBody {
    border-left: 1px #CCCCCC solid;
    padding-left: 2.8vw;
    width: 80%;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.divDisplay {
    color: #569CD6;
}

.HTMLCommentsSection {
    color: #2EA043;
    margin-top: 10vh;
    margin-bottom: 6vh;
}

.mobileAppsDisplay {
    margin-top: -3.5vh;
    border: 2px #CCCCCC solid;
    border-radius: 1vw;
    width: 20vw;
    height: 100%;
}

.phoneTop {
    height: 4vh;
    width: 20vw;
    border-bottom: 2px #CCCCCC solid;
}

.phoneMain {
    width: 20vw;
}

.phoneBody {
    width: 18vw;
    padding: 1vw;
    margin-bottom: 5vh;
}

.phoneBase {
    width: 20vw;
    height: 3.5vw;
    border-top: 2px #CCCCCC solid;
    margin-top: 8%;
}

.reactLogo {
    height: 14vh;
    width: 10vw;
    pointer-events: none;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .reactLogo {
        animation: reactLogoSpin infinite 20s linear;
    }
}

@keyframes reactLogoSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.homeButton {
    border: 2px #CCCCCC solid;
    border-radius: 50%;
    width: 2.7vw;
    height: 2.7vw;
    margin: .6vh;
    margin-left: auto;
    margin-right: auto;
}

.homeButton:hover {
    transition: 0.3s ease;
    background-color: #192133;
}

.homeButton:active {
    transition: 0.05s ease;
    background-color: #CCCCCC;
}

.phoneBody {
    color: #CCCCCC;
}

.nodeContainer {
    height: 22vh;
    width: 22vh;
    aspect-ratio: 1 / 1;
    display: contents;
}

.circleContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#graphContainer {
    height: 50vh;
}

.graphLine {
    stroke-width: 3px;
    stroke: #CCCCCC;
}

.classNode {
    fill: #c81e84;
}

g {
    transition: all ease 0.3s;
    stroke-width: 3px;
    stroke: #CCCCCC;
}

.classNodeB {
    fill: #569CD6;
}

g:hover circle {
    transition: all ease 0.3s;
    r: 75;
}

g:hover .classNodeB {
    fill: #aedbff;
}

g:hover .classNode {
    fill: #ff9fd9;
}

.bubbleText {
    font-weight: bolder;
    display: flex;
    height: inherit;
    width: 20%;
    text-align: center;
}

.hoverGraphic {
    position: absolute;
    top: 100;
    left: 0;
}

.hoverText {
    fill: #2EA043;
    font: 150% sans-serif;
}