.inlineHeader * {
    display: inline-block;
    padding-left: 0;
    padding-top: 0.8vh;
}
.inlineHeader {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10.5vh;
}

.skillsDisplayContainer * {
    display: inline-block;
}

.skillsSection {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skillsInfoColumn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skillsWrapper {
    display: flex;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: -1.8%;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(2vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
        visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

html {
  scroll-behavior: smooth;
}

