.inlineHeader * {
    display: inline-block;
    padding-left: 0;
    padding-top: 0.8vh;
}
.inlineHeader {
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 10.5vh;
}

.skillsDisplayContainer * {
    display: inline-block;
}

.skillsSection {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skillsInfoColumn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.skillsWrapper {
    display: flex;
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 5%;
}

