* {
    font-family: "consolas";
}
li {
    color: #CCCCCC;
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    margin: auto;
    width: 15%
}
li a div {
    width: 100%;
    font-size: 123%;
}
li a {
    color: #CCCCCC;
    transition: color 0.15s ease;    
}
li a:hover {
    color: #2EA043; 
    cursor: pointer;
}
li a:active {
    color: #4DAAFC; 
    cursor: pointer;
}
.logoLink {
    position: absolute;
    left: 2%;
    top: 2%;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
    margin: auto;
    display: inline-block;
}
.logoImage {
    width: 80%;
}
.navbarContainer {
    /* margin-left: 12.5%; */
    width: 65%;
    margin-top: 1%;
    margin-bottom: auto;
    text-align: center;
}
.navbarList {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
.splashContainer {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.splashImage {
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
    width: 65%;
    background-image: url("/public/icons/icons8-cow-100.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    height: 15vw;
    margin-top: 5%;
}
.splashText {
    margin-top: 3.5%;
    font-size: 6vw;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    color: #CCCCCC;
    text-shadow: 0.1vw 0.1vw 2vw black;
}
.splashTagline {
    font-size: 1.4vw;
    font-weight: bold;
    color: #CCCCCC;
    text-shadow: 0.1vw 0.1vw 0.4vw black;
}