* {
    font-family: "consolas";
}
li {
    color: #CCCCCC;
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    margin: auto;
    width: 15%
}
li div {
    width: 100%;
    font-size: 123%;
}
.logoLink {
    position: absolute;
    left: 2%;
    top: 2%;
    margin-top: auto;
    margin-bottom: auto;
    align-self: flex-start;
    margin: auto;
    display: inline-block;
}
.logoImage {
    width: 80%;
}
.navbarContainer {
    /* margin-left: 12.5%; */
    width: 65%;
    margin-top: 1%;
    margin-bottom: auto;
    text-align: center;
}
.navbarList {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    
}